/*  your css code here. If applicable */
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
	background-color:gray;
	border:2px solid black;
}
.red,.yellow,.green{
	border-radius:50%;
	width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}
.red{
	background-color:red;
}
.yellow{
	background-color:yellow;
}
.green{
	background-color:green;
}
#container{
	border-radius:20%;
}